body {
  font-family: 'Source Sans Pro', 'Trebuchet MS', 'Lucida Grande', 'Bitstream Vera Sans', 'Helvetica Neue', sans-serif;
  margin: 0;
  text-align: center;
  color: hsl(206, 29%, 23%);
  background:  #494949
}

h1 {
  font-size: 30px;
}

img {
  margin: 20px 0;
  max-width: 200px;
}
.container {
  width: 90vw;
  margin: 0 auto;
  margin-top: 60px;
  margin-bottom: 100px;
}

.row {
  height: 50px;
  display: grid;
  gap: 5px;
  padding-top: 5px;
  grid-template-columns: repeat(16, 1fr)
}

.cell {
  background:#7C7A7A
}

.cell.active {
  background: #adb0b0
}


.armed{
  background: #55efc4;
  /* background: #FF5D73; */
}

.active.armed {
  background: #00b894
}


/* controls  */
.controls {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr
}

.bpmLabel {
  font-size: 24px;
  margin: 0;
  line-height: 32px;
  color: white;
  text-align: left;
}

.bpmGroup {
  display: grid;
  grid-template-columns: 1fr 1fr; 
  margin-bottom: 50px;
  width: 120px;
}

.bpmInput {
  background: none;
  font-size: 24px;
  outline: none;
  border: none;
  height: 32px;
  color: #55efc4
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0
}