body {
  font-family: 'Source Sans Pro', 'Trebuchet MS', 'Lucida Grande', 'Bitstream Vera Sans', 'Helvetica Neue', sans-serif;
  margin: 0;
  text-align: center;
  color: hsl(206, 29%, 23%);
  background:  #494949
}

h1 {
  font-size: 30px;
}

img {
  margin: 20px 0;
  max-width: 200px;
}
.container {
  width: 90vw;
  margin: 0 auto;
  margin-top: 60px;
}

.row {
  height: 50px;
  display: grid;
  gap: 5px;
  padding-top: 5px;
  grid-template-columns: repeat(16, 1fr)
}

.cell {
  background:#7C7A7A
}

.cell.active {
  background: #adb0b0
}


.armed{
  background: #FF5D73;
}

.active.armed {
  background: red;
}


